<%- include('header') -%>

<div class="container w-30 border py-5 text-center ">
    <h2></h2>
    <p></p>
   
    <% if(users!="") {%>
      <table class="table ">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></th>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">city</th>
            <th scope="col">postalCode</th>
           
          
            <th scope="col">Edit</th>
            

            
          </tr>
        </thead>
        <tbody>
            <% users.forEach((row , index) =>{ %>
              <tr>
                <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                <td><%= row.name %></td>
                <td><img src="<%= row.image %>" width="30px"  class="img-thumbnail" /></td>
                <td><%= row.email %></td>
                <td><%= row.phone %></td>
                <td><%= row.city %></td>
                <td><%= row.zip %></td>
        
                <td><div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Action
                  </button>
                  <ul class="dropdown-menu">
                    <li id= "<%= row._id %>"><a href="delete/<%= row._id %>" type="button" class="btn btn-primary"/>Delete</a></li>
                    <li id= "<%= row._id %>"><a href="edit/<%= row._id %>" type="button" class="btn btn-primary"/>Edit</a></li>
                 
                  </ul>
                </div></td>
              
              </tr>
                
           <% }) %>


    
         
        </tbody>
      </table>
    <% } else {%>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>No Data</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%} %>

</div>

<%- include('footer') -%>
